@charset "utf-8";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}

fieldset,img {
    border: 0;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}

body{
	font-family: "Microsoft YaHei", 'Lato', Calibri, Arial, sans-serif;
	color:#333;
}
.section{
	text-align: center;
}

#index .header{ background:#ffffff;}
#index .modal{margin-top:20%;}
.loginbox{height:66px;color:#ababab;line-height:66px;margin-left:22px; float: right;}
.loginbox a{color:#337ab7;padding-left:8px;padding-right:8px;font-size:14px;}
.loginbox a:hover{text-decoration: underline;}
/*二维码*/
.side{position:fixed;width:54px;height:108px;right:0;bottom:140px;z-index:999;}
.side ul li{width:54px;height:54px;float:left;position:relative;background:(0,0,0,0.5);}
.side ul li .sidebox{position:absolute;width:54px;height:54px;top:0;right:0;transition:all 0.3s;color:#fff;font:14px/54px "微软雅黑";overflow:hidden;}
.side ul li .sidetop{width:54px;height:54px;line-height:54px;display:inline-block;background:#000;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;}
.side ul li .sidetop:hover{background:#ae1c1c;opacity:1;filter:Alpha(opacity=100);}
.side ul li img{float:left;}
#section1{
	background-image:url(../../img/slidersNew/screen01.jpg);	
	}
#section2{
	background-image:url(../../img/slidersNew/screen02.jpg);
	}
#section3{
	background-image:url(../../img/slidersNew/screen03.jpg);
	}
#section4{
	background-image:url(../../img/slidersNew/screen04.jpg);
	}
#section5{
	background-image:url(../../img/slidersNew/screen05.jpg);
	}
#section6{
	background-image:url(../../img/slidersNew/screen06.jpg);
	}
#section7{
	background-image:url(../../img/slidersNew/screen07.jpg);
	}
#section8{
	background-image:url(../../img/slidersNew/screen08.jpg);
	}
.section{background-size:100% 100%; background-repeat:no-repeat}

.section .content{ 
	width:100%;
	margin:0 auto;
	}
.section .content h1{
	color:#ffffff;
	text-align:center;
	font-size:3em;
	line-height:2em;
	font-family:"幼圆";
	padding-top:250px; 
	}
.section .content h2{
	width:100%;
	clear:both;
	font-size:1.6em;
	text-align:center;
	color:#ffffff;
	font-family:"幼圆";
	line-height:2em;
	}
.section .content.black{
	color:#171717;
	}
.section .content.black h1{
	color:#171717;
	}
.section .content.black h2{
	color:#171717;
	}
.top{
	width:100%;
	height:50px;
	background:rgba(255,255,255,0.65);
	line-height:50px;
	position:fixed;
	top:0px;
	z-index:9999;
    border-bottom:1px #dadada solid;
}
.top .topbox{
	width:100%;
	margin:0 auto;
	height:50px;
	
}
.top .topbox p{
	float:left;margin-top:12px; 
	}
.top .topbox a{
	float:right;
	background:#5e7694;
	line-height:30px;
	color:#fff;
	margin-top:10px;
	border-radius:5px;
	width:100px;
	text-align:center;
	}
.section .banner {overflow:hidden;}	
.kj-btn{
	width:100%;
	height:140px;
	position:absolute;
	bottom:0px;
	font-size:0px;
	z-index:999;
	}
.kj-btn a{
	width:25%;
	display:inline-block;
	height:140px;
	background-size:cover;
	font-size:18px;
	color:#fff;
	float:left;
	}
.kj-btn a h4{
	margin-top:10%;
	font-family:"幼圆";
	margin-bottom:10px;
	}
.kj-btn a p{
	font-size:14px;
	padding:0px 10px;
	}
.kj-btn .kj-a01{
	background-image:url(../../img/slidersNew/kj-01.jpg);
	}
.kj-btn .kj-a01:hover{
	background-image:url(../../img/slidersNew/kj-01h.jpg);
	}
.kj-btn .kj-a02{
	background-image:url(../../img/slidersNew/kj-02.jpg);
	}
.kj-btn .kj-a02:hover{
	background-image:url(../../img/slidersNew/kj-02h.jpg);
	}
.kj-btn .kj-a03{
	background-image:url(../../img/slidersNew/kj-03.jpg);
	}
.kj-btn .kj-a03:hover{
	background-image:url(../../img/slidersNew/kj-03h.jpg);
	}
.kj-btn .kj-a04{
	background-image:url(../../img/slidersNew/kj-04.jpg);
	}
.kj-btn .kj-a04:hover{
	background-image:url(../../img/slidersNew/kj-04h.jpg);
	}
.section .content .item{
	height:100%; background-repeat:no-repeat;
	background-size:100% 100%;    
}
.info-hz{line-height:22px;clear:both;margin-bottom:20px; overflow:hidden;}
.info-hz .content h5{margin-bottom:5px;}
/*第一屏*/
.section .content .item h1{ 
    text-align:left;
	width:70%;
	margin-left:20%;
	line-height:1.5em;
	padding-top:300px;
	}
.section .content .item h1 p{
	font-size:0.4em;
	text-align:left;
	}
.section .content .carousel-control.right{
	background-image:none;
	padding-top:300px;
	text-align:left;
	}
.section .content .carousel-control.left{
	background-image:none;
	padding-top:300px;
	text-align:right;
	}
#sre01{
	background-image:url(../../img/slidersNew/screen01.jpg);
	}
#sre02{
	background-image: url(../../img/slidersNew/screen01-2.jpg);
	}
#sre03{
	background-image:url(../../img/slidersNew/screen01-3.jpg);
	}
/*第二屏*/
#section2 h1{
	padding-top:130px;
	margin-bottom:50px;
	}
#section2 h2{
	padding-top:50px;	
	}
#section2 ul{
	overflow:hidden;
	clear:both;
	width:70%;
	margin-left:15%;
	}
#section2 ul li{
	 display:inline-block;
	}
#section2 ul li a{ background-size:100% auto; background-repeat:no-repeat;width:100%; display:block;}
#section2 ul li a.pro-logo01{ background-image: url(../../img/slidersNew/ind2-1.png);}
#section2 ul li a.pro-logo02{ background-image: url(../../img/slidersNew/ind2-2.png);}
#section2 ul li a.pro-logo03{ background-image: url(../../img/slidersNew/ind2-3.png);}
/*第三屏*/
#section3 h1{
	margin-bottom:100px;
	}
#section3 h2{
	padding-top:50px;
	
	}
/*第四屏*/
#section4 h1{
	width:70%;
	text-align:left;
	margin-bottom:0px;
	margin-left:15%;
	line-height:1.5em;
	}
#section4 h2{
	padding-top:50px;
	text-align:left;
	width:70%;
	margin-left:15%;
	line-height:1.5em;
	}
/*第五屏*/
#section5 h1{
	width:70%;
	margin-bottom:0px;
	margin-left:15%;
	line-height:1.5em;
	margin-bottom:50px;
	}
#section5 h2{
	padding-top:50px;
	width:70%;
	margin-left:15%;
	line-height:1.5em;
	}
/*第六屏*/
#section6 h1{
	width:70%;
	text-align:left;
	margin-bottom:0px;
	margin-left:15%;
	line-height:1.5em;
	}
#section6 h2{
	padding-top:50px;
	text-align:left;
	width:70%;
	margin-left:15%;
	line-height:1.5em;
	}
/*第七屏*/
#section7 h1 {
	padding-top:100px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
  }
#section7 ul{
	clear:both;
	width:70%;
	margin-left:15%;
	}
#section7 ul li{
	 display:inline-block;
	 margin-bottom:30px;
	}
#section7 ul li a{
	overflow:hidden;
	float:left;
	background:#000;
	-webkit-box-shadow:0 0 10px rgba(255, 255, 255, .4);  
    -moz-box-shadow:0 0 10px rgba(47, 120, 255, .4);  
    box-shadow:0 0 10px rgba(0, 0, 0, .4); 
	}
#section7 ul li a img{ opacity:0.8}
#section7 ul li a:hover img{opacity:1;}
#section7 ul li a:hover{	
	-webkit-box-shadow:0 0 30px rgba(255, 255, 255, .7);  
    -moz-box-shadow:0 0 30px rgba(47, 120, 255, .7);  
    box-shadow:0 0 30px rgba(0, 0, 0, .7); 
	}

/*第八屏*/
#section8 h1{
	text-align:left;
	margin-bottom:0px;
	line-height:1.5em;
	padding-top:200px;
	}
#section8 h2{
	padding-top:50px;
	text-align:left;
	line-height:1.5em;
	}
.hzhb{
	width:70%;
	margin-left:15%;
	}
.link-a{
	margin-top:200px;
	}

@media (min-width: 768px)
{
.section .content h1{
	font-size:3em;
	}
#index .container{width:70%;margin-left:15%;margin-right:15%;}

}

@media (max-width: 768px)
{
.link-a{margin-top:50px;}
#index .footer{display:none;}
.section .content h1{
	font-size:1.2em;
    width: 100%;
	}
.section .content h2{
	font-size:1em;
    width: 100%;
	}
.kj-btn{
	height:200px;
	}
.kj-btn a{
	width:50%;
	height:100px;
	padding:0px 5px;
	}
.kj-btn a p{
	font-size:12px;
	}
}
/*footer-首页*/
.footer1{color:#ffffff;padding:20px 0px 0 0;border-top:1px #dfdfdf solid; position:fixed;bottom:0px; background:#fff;width:100%;margin:0px auto;}
.footer1 dl{margin-bottom:20px;}
.footer1 dl dt{font-weight:normal;font-size:15px;margin-bottom:5px;color:#333333;}
.footer1 dl dd a{color:#666666;line-height:30px; text-decoration:none;}
.footer1 dl dd a:hover{color:#4b4b4b;}
.copyr1{margin-top:0px;}
.copyr1 .container{ text-align:center;padding:5px 10px;color:#666666;}

