<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh_CN" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh_CN" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="zh_CN"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>东软移动互联网第七事业部-前端组件库</title>
    <meta name="description" content="前端组件库" />
    <meta name="keywords" content="前端组件库，front-end  libary" />
    <#include "common/head.html"/>
    <link rel="stylesheet" type="text/css" href="${base.contextPath}/public/plugins/jQuery/css/jquery.pagepiling.css" />
     <link rel="stylesheet" type="text/css" href="${base.contextPath}/public/plugins/jQuery/css/responsive-nav.css" />
    <link rel="stylesheet" type="text/css" href="${base.contextPath}/public/css/index/index.css"/>
    <script type="text/javascript" src="${base.contextPath}/public/plugins/jQuery/js/respond.js"></script>
    <script src="${base.contextPath}/public/plugins/jQuery/js/responsive-nav.js"></script>
</head>
<div class="side">
  <ul>
	<li><a href="#page1" ><div class="sidebox"><img src="${base.contextPath}/public/img/slidersNew/top.png" width="54"></div></a></li>    
    <li class="ewm"><a href="#"><div class="sidebox"><img src="${base.contextPath}/public/img/slidersNew/hzhewm.jpg" height="100%"></div></a></li>
  </ul>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">成功案例</h4>
      </div>
      <div class="modal-body">
        <div class="info-hz  mp">
          <div class="col-sm-4"><img src="${base.contextPath}/public/img/slidersNew/7-1.png" width="100%"  alt=""/></div>
          <div class="col-sm-8 content">
            <h5><strong>交通银行</strong></h5>
            <p>交通银行于2016年开始使用辽宁移动政企云WiFi产品。使用场所300平米，使用室内大容量AP。使用动态短信密码方式登录，用户上网后，向用户展示交通银行“手机银行”，“交行信用卡”等内容。用户在上网的同时，获取到银行最新活动、投资理财信息。</p>
          </div>
        </div>
        <div class="info-hz  mp">
          <div class="col-sm-4"><img src="${base.contextPath}/public/img/slidersNew/7-2.png" width="100%"  alt=""/></div>
          <div class="col-sm-8 content">
            <h5><strong>大商集团</strong></h5>
            <p>大商集团于2015年开始使用政企云WiFi产品。旗下大商新玛特、大商超市和麦凯乐都使用了“爱辽宁WiFi”。使用场所5万平米，安装室内大容量AP。用户上网后，向用户展示商场各楼层服务范围，优惠促销，影院影讯等内容。最新最全信息，顾客一手掌握。</p>
          </div>            
        </div> 
        <div class="info-hz  mp">
          <div class="col-sm-4"><img src="${base.contextPath}/public/img/slidersNew/7-3.png" width="100%"  alt=""/></div>
          <div class="col-sm-8 content">
            <h5><strong>港丰大酒店</strong></h5>
            <p>营口港丰大酒店在2016年使用移动政企云WiFi。 在此前，酒店内也装过WiFi，但需要客人找服务员要密码。店里甚至不得不专门设一个引导人员，成本大大的增加。现在，客人用手机搜索WiFi就可以通过微信自助登录。然后，跳转到港丰大酒店的移动商铺，消费者可以从中了解酒店最新活动。  </p>
          </div>            
        </div> 
        <div class="info-hz  mp">
          <div class="col-sm-4"><img src="${base.contextPath}/public/img/slidersNew/7-4.png" width="100%"  alt=""/></div>
          <div class="col-sm-8 content">
            <h5><strong>沈阳世博园</strong></h5>
            <p style="white-space:pre-line;">沈阳世博园景区在游客上网页面配置了景区内各景点介绍，最新活动，景区观光车、餐饮休息等服务项目。
另外，世博园新上了一款景区内GPS自动讲解的APP，因此景区还配置了欢迎短信。游客在wi-fi连接上网后，自动接收到一条短信：“来一场说导就导的畅游吧！景区内GPS自动讲解，猛戳<a href="#" onclick="javascript:window.open('http://dhwap.mlocso.com:9999/s.jsp?q=101');">http://dhwap.mlocso
.com:9999/s.jsp?q=101</a>！”。这样不用专人说明使用此新增服务，游客就能获得景区发布的信息。
            </p>
          </div>            
        </div> 
        <div class="info-hz  mp">
          <div class="col-sm-4"><img src="${base.contextPath}/public/img/slidersNew/7-5.png" width="100%"  alt=""/></div>
          <div class="col-sm-8 content">
            <h5><strong>本溪4路公交车</strong></h5>
            <p>本溪移动与本溪客运集团精诚合作，现移动用户在4路车上可免费体验4G WIFI，
                              乘客在拥堵的路上，不用再心烦气躁，免费享受高速的WIFI，看电影，看新闻，分享朋友圈，刷一刷微博，让乘客的出行简便而不简单！</p>
          </div>            
        </div> 
        <div class="info-hz  mp">
          <div class="col-sm-4"><img src="${base.contextPath}/public/img/slidersNew/7-6.png" width="100%"  alt=""/></div>
          <div class="col-sm-8 content">
            <h5><strong>国大药房</strong></h5>
            <p>国药控股国大药房有限公司旗下200多家药房都已安装了云客来的小商Wi-Fi。周边和店内人群，连接上Wi-Fi后，能看到药店的最新活动，引起消费者的注意与兴趣，促进购买；定期发送精准会员营销短信，优惠卡优惠券，增大二次到店率。</p>
          </div>            
        </div> 
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
<body class="page-header-fixed">
<div class="header2  navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <button class="navbar-toggle btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- BEGIN LOGO (you can use logo image instead of text)-->
            <a class="navbar-brand logo-v1" href="${base.contextPath}/index">
                <img src="${base.contextPath}/public/img/logo.png"  alt="和智汇" id="logoimg" alt="">
            </a>
            <!-- END LOGO -->
        </div>

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                	<a href="${base.contextPath}/product/product_list"> 产品&amp;服务</a>
          		</li>
            </ul>
            <div class="loginbox">
				<ul  class="nav navbar-nav">
	       			<#if Session.userInfo??>
	          			<#if !Session.userInfo.phone?? || Session.userInfo.phone == "">
		        			<li><a href="${base.contextPath}/login">登录/注册</a></li>
		        		</#if>
		        		<#if Session.userInfo.phone?? && Session.userInfo.phone != "">
		        			<#if Session.userInfo.user_name?? && Session.userInfo.user_name != "">
		        				<li><a href="${base.contextPath}/my/subscription?orgId=">欢迎&nbsp;[${Session.userInfo.user_name}]</a></li>
		        				<li><a href="${base.contextPath}/logout">退出</a></li>
		        			</#if>
		        			<#if !Session.userInfo.user_name?? || Session.userInfo.user_name == "">
		        				<li><a href="${base.contextPath}/my/subscription?orgId=">欢迎&nbsp;[${Session.userInfo.phone}]</a></li>
		        				<li><a href="${base.contextPath}/logout">退出</a></li>
		        			</#if>
		        		</#if>
		        	</#if>
		        	<#if !Session.userInfo??>
		        		<li><a href="${base.contextPath}/login">登录/注册</a></li>
		        	</#if>
	        	</ul>
			</div>
            <div class="search">
		          <form class="navbar-form navbar-right" role="search">
		            <div class="form-group">
		              <input type="text" class="form-control" style="color:#000000" id="searchInfo" placeholder="搜搜“佳商云”试试" onkeydown='if(event.keyCode==13){jQuery("#searchBtn").click()}'>
              		  <a href="#" id="searchBtn" class="search-btn"><i class="icon-search"></i></a>
		            </div>
		          </form>
	        </div>
           </div>
            
    </div>
    <!-- BEGIN TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER -->
<div class="wrapper">
<!-- 内容部分开始 -->
<div style="position:fixed;width:100%;top:50px;left:50px;color:white;z-index:999;" id="callbacksDiv"></div>
<div id="pagepiling">
 <!--第一屏开始-->         
  <div class="section" id="section1">
    <div class="content">
      <!--浮动底部快捷按钮开始-->
      <div class="kj-btn">
        <a href="#page3" class="kj-a01">
          <h4>一站式购买</h4>
          <p>方便好管理，你想要的这里都有</p>
        </a>
        <a href="#page4" class="kj-a02">
          <h4>即通即用</h4>
          <p>只要10分钟，轻松搞定一切</p>
        </a>
        <a href="#page5" class="kj-a03">
          <h4>快速预约</h4>
          <p>让预约变的简单，时刻等待为您贴心服务</p>
        </a>
        <a href="#page6" class="kj-a04">
          <h4>安全保障</h4>
          <p>应用安全又可靠，中国移动为您保驾护航</p>
        </a>
      </div>
      <!--浮动底部快捷结束-->
      <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
          <div class="item active" id="sre01">
            <h1>在这里，你的企业大有可为！</br>和智汇，你的专属一站式云服务中心<p>分分钟找到适合你的企业应用让你的企业更省时、省钱、省力！</p></h1>
          </div>
          <div class="item" id="sre02">
            <h1>线上轻松下单，十分钟搞定一切！</br>不用奔跑在路上，打破原有移动传统模式</h1>  
          </div>
          <div class="item" id="sre03">
            <h1> 多客云帮你理清所有营销思路！</br>简单操作，轻松集客，省钱又赚钱！<p>不用再费劲脑汁，想着脑洞大开的营销手段</p></h1>
          </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
  <!--第一屏结束-->
  <!--第二屏开始-->   
  <div class="section" id="section2">
    <div class="content black">
      <h1 class="clo-xs-12">一个新世界，一个最广泛的应用平台</h1>
      <ul id="productUl" class="col-xs-12 col-sm-10 col-sm-offset-1">
        <li class="col-xs-4 col-sm-4" id="pro-logo"><a id="a_lncmcc_000000001_00000001" href="#" class="pro-logo01"></a></li>
        <li class="col-xs-4 col-sm-4" id="pro-logo"><a id="a_112001010461" href="#" class="pro-logo02"></a></li>
        <li class="col-xs-4 col-sm-4" id="pro-logo"><a id="a_112012241010" href="#" class="pro-logo03"></a></li>
      </ul>
      <h2 class="clo-xs-12">我们还在不断丰富最权威、最高效、最稳定的产品</br>帮助您成功在任何阶段，请持续关注我们！</h2>
    </div>
  </div>
  <!--第二屏结束-->
  <!--第三屏开始--> 
  <div class="section" id="section3">
    <div class="content">
      <h1>一站式购买，方便好管理</br>你想要的这里统统都有</h1>
      <h2>不用奔跑在路上，网上即可预定一切企业运营管理应用。</br>我们将提供一站式服务，购买、使用、服务更加简单方便、安心可靠。</h2>
      <h2>细心为企业服务到底！</h2>
    </div>
  </div>
  <!--第三屏结束-->
  <!--第四屏开始--> 
  <div class="section" id="section4">
    <div class="content black">
      <h1>只要10分钟（无须漫长的等待）</br>即通即用，轻松搞定一切！</h1>
      <h2>丰富的应用软件，让你更省钱、更省时、更省力的推动工作，</h2>
      <h2>全方位为中小型企业打造属于自己的应用体系。</h2>
    </div>
  </div>
  <!--第四屏结束-->
    <!--第五屏开始--> 
  <div class="section" id="section5">
    <div class="content">
      <h1>极速预约，让预约变得简单及时</br>时刻等待为你贴心服务！</h1>
      <h2>你来一键预约，我来全程服务。</h2>
      <h2>电话预约、微信预约、邮件预约等多形式全面开通。届时工作人员将为您一对一全程</br>服务，问题有效解答，帮助您对系统更充分的了解、购买与使用，放心又靠谱！</h2>
    </div>
  </div>
  <!--第五屏结束-->
  <!--第六屏开始--> 
  <div class="section" id="section6">
    <div class="content black">
      <h1>应用安全又可靠，</br>中国移动全程为你保驾护航！</h1>
      <h2>100%安全保障，全网应用中国移动安全产品体系，</br>为更广泛的行业企业提供专业的防护服务，为企业的高可用性保驾护航！安心又放心。</h2>
    </div>
  </div>
  <!--第六屏结束-->
  <!--第七屏开始--> 
  <div class="section" id="section7">
    <div class="content ">
      <h1>成功案例</h1>
      <ul class="col-xs-12 col-sm-10 col-sm-offset-1">
        <li class="col-xs-6 col-sm-4"><a href="#" data-toggle="modal" data-target="#myModal" class="mingpian"><img src="${base.contextPath}/public/img/slidersNew/7-1.png" width="100%"  alt=""/></a></li>
        <li class="col-xs-6 col-sm-4"><a href="#" data-toggle="modal" data-target="#myModal" class="mingpian"><img src="${base.contextPath}/public/img/slidersNew/7-2.png" width="100%"  alt=""/></a></li>
        <li class="col-xs-6 col-sm-4"><a href="#" data-toggle="modal" data-target="#myModal" class="mingpian"><img src="${base.contextPath}/public/img/slidersNew/7-3.png" width="100%"  alt=""/></a></li>
        <li class="col-xs-6 col-sm-4"><a href="#" data-toggle="modal" data-target="#myModal" class="mingpian"><img src="${base.contextPath}/public/img/slidersNew/7-4.png" width="100%"  alt=""/></a></li>
        <li class="col-xs-6 col-sm-4"><a href="#" data-toggle="modal" data-target="#myModal" class="mingpian"><img src="${base.contextPath}/public/img/slidersNew/7-5.png" width="100%"  alt=""/></a></li>
        <li class="col-xs-6 col-sm-4"><a href="#" data-toggle="modal" data-target="#myModal" class="mingpian"><img src="${base.contextPath}/public/img/slidersNew/7-6.png" width="100%"  alt=""/></a></li>
      </ul>
    </div>
  </div>
  <!--第七屏结束-->
   <div class="section" id="section8" >
    <div class="content">            
      <div class="hzhb">
        <div class="col-xs-12 col-sm-5">
          <h1>合作伙伴</h1>
          <h2>和智汇致力于打造开放、合作、共赢的智能应用平台，我们将以合作伙伴的利益为先，您将在这里获得更多的拓展渠道空间、技术支持和营销方式，更快地将产品推广到新的市场，为最终用户带来真正的价值。</h2>
        </div>
        <div class="col-sm-7 link-a">
          <img src="${base.contextPath}/public/img/slidersNew/hzal.png"  alt="" width="459" border="0"/>                
        </div>
      </div>
     </div>
    <div class="footer1">
      <div class="container">
          <dl class="col-md-2 col-xs-5ths">
            <dt>服务支持</dt>
            <dd><a href="#">帮助中心</a></dd>
            <dd><a href="#">购买指南</a></dd>
          </dl>
          <dl class="col-md-2 col-xs-5ths">
            <dt>账号与支付</dt>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">充值付款</a></dd>
          </dl>
          <dl class="col-md-2 col-xs-5ths">
            <dt>服务保障</dt>
            <dd><a href="#">金牌服务</a></dd>
            <dd><a href="#">售后支持</a></dd>
          </dl>
          <dl class="col-md-2 col-xs-5ths">
            <dt>联系我们</dt>
            <dd><a href="#">免费热线:10086-8</a></dd>
          </dl>
          <dl class="col-md-2 col-xs-5ths">
            <dt>关注我们</dt>
          </dl>
        </div>
        <div class="copyr1">
          <div class="container">© 2015-2016  版权所有 ICP证：B2-20080101</div>
       </div>
       
 </div> 
  </div>  
</div>  
</body>
<script type="text/javascript" src="${base.contextPath}/public/plugins/jQuery/js/jquery-1.11.0.min.js"></script>
<#include "common/commonJs.html"/>   
<script type="text/javascript" src="${base.contextPath}/public/plugins/jQuery/js/jquery.pagepiling.min.js"></script>
<script type="text/javascript" src="${base.contextPath}/public/plugins/datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="${base.contextPath}/public/plugins/datatables/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="${base.contextPath}/public/js/index/index.js" charset="utf-8"></script>
</html>